<!-- Toolbar -->
<div class="headerContainer">
  <div class="topInfo">

  </div>
  <div class="header">
      <div class="headerLogo">
        <img  style="width:90px ;" alt="Angular Logo"  src="assets/images/logo.png" />
      </div>
      <div class="headerTitle">
        <span>مجمع البواردي الخيري</span>
      </div>
      <div class="headerNav">
        <div class="rightNav">
          <a class="navItem"   routerLink="/">
            <i class="fa-solid fa-house"></i>
            <span>
              الصفحة الرئيسية 
            </span>
          </a>
          <a class="navItem"   routerLink="/admin" >
            <i class="fa-solid fa-calendar-check"></i>
            <span>
              الادارة
            </span>
          </a>
        </div>
        <div class="leftNav">
          <a class="navItem"   routerLink="/login" >
            <i class="fa-solid fa-right-to-bracket"></i>
            <span>
              تسجيل دخول
            </span>
          </a>
          <a class="navItem"   routerLink="/login" >
            <i class="fa-solid fa-person-walking-arrow-right"></i>
            تسجيل الخروج
          </a>
        </div>
      </div>
  </div>
</div>

    
    
      
