<!-- ادخال بيانات صلاة الجنازة -->
<div class="container">
    <div class="details">
        <div *ngIf="mode=='view'">
            <span>بيانات الجنازات</span>
            <div>
                <label>تاريخ الجنازة</label>
                <input type="text" [(ngModel)]="searchDate">
                <button (click)="search()">بحث</button>
            </div>
            <div>
                <button (click)="add()">اضافة</button>
            </div>
            <div class="dataGrid">
                <div class="gridHeader">
                    <div class="gridHeadercolumn">تاريخ الجنازة</div>
                    <div class="gridHeadercolumn">اسم المتوفي</div>
                    <div class="gridHeadercolumn">جنس المتوفي</div>
                    <div class="gridHeadercolumn">الصلاة</div>
                    <div class="gridHeadercolumn">الاجراءات</div>
                </div>
                <div class="gridDataRow" *ngFor="let funeral of funeralList">
                    <div class="gridDatacolumn" >{{funeral.date}}</div>
                    <div class="gridDatacolumn" >{{funeral.deadName}}</div>
                    <div class="gridDatacolumn" >{{getSexDesc(funeral.sex)}}</div>
                    <div class="gridDatacolumn" >{{getPrayerDesc(funeral.prayerId)}}</div>
                    <div class="rowButtons">
                        <button (click)="edit(funeral.id)">تعديل</button>
                        <button (click)="delete(funeral.id)">حذف</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="mode!='view'" >
            <div [formGroup]="funeralFrom">
                <input type="hidden" formControlName="id">
                <div>
                    <label>تاريخ الصلاة</label>
                    <input type="text" formControlName="date">
                </div>
                <div>
                    <label>اسم المتوفي</label>
                    <input type="text" formControlName="deadName">
                </div>
                <div>
                    <label>جنس المتوفي</label>
                    <select formControlName="sex">
                        <option value="M">`ذكر</option>
                        <option value="F">انثى</option>
                        <option value="B">طفل</option>
                        <option value="G">طفلة</option>
                    </select>
                </div>
                <div>
                    <label>الصلاة</label>
                    <select formControlName="prayerId">
                        <option value="1">الصبح</option>
                        <option value="2">الظهر</option>
                        <option value="3">العصر</option>
                        <option value="4">المغرب</option>
                        <option value="5">العشاء</option>
                    </select>
                </div>
                <div>
                    <button (click)="save()">حفظ</button>
                    <button (click)="exit()">خروج</button>
                </div>
            </div>
        </div>
    </div>
</div>

